.search{
    padding: 8rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: #fff;
    letter-spacing: .1rem;
}
#query{
    align-self: flex-start;
    font-weight: 300;
    font-size: 1.6rem;
}
.sl-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.sl-card{
    width: 55rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    background: #161616;
    color: #fff;
    padding: 2rem;
    
} 
.sl-card img{
    width: 17rem;
    height: 24rem;
}
.card-content{
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 2rem;
}
.card-content h1{
    font-size: 2.2rem;
    font-weight: 400;
}
.card-content p{
    font-size: 1.5rem;
}
.card-content p>span{
    font-size: 1.4rem;
    color: #f5cb5c;
    margin-right: .5rem;
}